Source: coco-patcher
Section: devel
Priority: optional
Maintainer: Nalin <nalin.x.linux@gmail.com>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: gettext
Standards-Version: 4.5.0

Package: coco-patcher
Architecture: all
Depends:
 ${misc:Depends},
 policykit-1,
 zenity,
 grep
Description: The package coco-patcher provides a GUI to patch Accessible-Coconut
 by selecting and running various scripts. Here Accessible-Coconut is a 
 GNU/Linux operating system which provides inclusive environment for visually impaired.
